// Styles For Cards
.home__content-card {
  width: 250px;

  &-container {
    margin-top: 25px;
    height: 300px;
    padding: 10px 15px;
    display: block;
  }

  &-video {
    width: 230px;
    height: 150px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    transition: .5s ease-in-out;
    &:hover {
      box-shadow: 3px 6px 2px 1px rgba(0, 0, 0, .2);
      transform: scale(calc(100% + 30%));
      border-radius: 10px;
    }

    img {
      display: block;
      width: 300px;
      height: 150px;
      border-radius: 10px;
    }
  }

  &-author {
    margin-top: 10px;
    font-size: 20px;
    text-transform: lowercase;
    cursor: default;
    position: absolute;
    bottom: 5px;
    left: 10px;
    color: #F2F2F2;
  }

  &-info {
    margin-top: 15px;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
}

@media only screen and (max-width: 320px) {

}

@media only screen and (max-width: 480px) {

}

@media only screen and (max-width: 600px) {

}

@media only screen and (max-width: 801px) {

}

@media only screen and (max-width: 1025px) {
  .home__content-card {
    width: 230px;
  }
}
