:root {
display: block;
}

*,
::before,
::after {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html {
  scroll-behavior: smooth;
}

body {
  margin: 0 auto;
  padding: 0;
  width: 1280px;
  min-height: 100vh;
  font-family: 'Nunito', sans-serif;
  font-size: 16px;
  background: linear-gradient(45deg, #102eff, #d2379b);
  background-repeat: no-repeat;
  background-size: cover;
  color: #FFF;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: 700;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
}

img {
  max-width: 100%;
  height: auto;
}

.container {
  margin-left: 200px;
  margin-right: 200px;
}

// Layout Styles
::-webkit-scrollbar {
  width: 10px;
  border-radius: 8px;
  transition: .3s ease-in-out all;

  &-thumb {
    background-color: grey;
    border-radius: 8px;
    background: linear-gradient(45deg, #102eff, #d2379b);

    &:hover {
      background: #d2379b;
    }
  }
}

@media only screen and (max-width: 1025px) {
  body {
    width: 1025px;
  }

  .container {
    margin-left: 20px;
    margin-right: 20px;
  }

}

@media only screen and (max-width: 801px) {
  body {
    width: 800px;
  }
}


@media only screen and (max-width: 600px) {
  body {
    width: 600px;
  }
}

@media only screen and (max-width: 480px) {
  body {
    width: 480px;
  }
}

@media only screen and (max-width: 400px) {
  body {
    width: 375px;
  }
}

@media only screen and (max-width: 320px) {
  body {
    width: 320px;
  }
}







