// Styles For 'Home'
.home {
  margin-top: 70px;
  margin-bottom: 100px;

  &__title {
    margin-top: 100px;
    text-align: center;
    text-transform: uppercase;
    font-size: 36px;
    letter-spacing: .055em;
  }

  &__content {
    margin-top: 40px;

    &-title {
      text-transform: uppercase;
      font-size: 26px;
      font-weight: 500;
      cursor: default;
    }

    &-cards {
      display: flex;
      justify-content: center;
      align-items: center;
      flex-wrap: wrap;
      gap: 30px;
      margin-top: 25px;
    }
  }
}

@media only screen and (max-width: 1025px) {
  .home {
    margin-top: 50px;
    margin-bottom: 50px;

    &__title {
      margin-top: 0;
      font-size: 24px;
    }

    &__content {
      margin-top: 20px;

      &-first {
        text-align: center;
      }

      &-title {
        font-size: 16px;
      }

      &-cards {
        gap: 15px;
        margin-top: 20px;
      }
    }
  }
}

@media only screen and (max-width: 801px) {

}

@media only screen and (max-width: 600px) {

}


@media only screen and (max-width: 480px) {
  .home {

    &__title {
      font-size: 20px;
    }

    &__content {
      &-title {
        font-size: 14px;
      }
    }
  }
}


@media only screen and (max-width: 320px) {

}





