<article class="comments">
    <div class="comments__container">
        <div class="comments__img">
            <img [attr.src]="imageSrc" alt="User Image"/>
        </div>

        <div class="comments__info">
            <div class="comments__info-name">{{userName}}</div>
            <div class="comments__info-status">{{userStatus}}</div>
        </div>

        <div class="comments__date">{{currentDate | date}}</div>

        <div class="comments__content">
            <div class="comments__content-text">{{commentText}}</div>
        </div>
    </div>
</article>
