// Styles For Comments
.comments {
  &__container {
    margin-top: 20px;
    width: 600px;
    height: 300px;
    display: grid;
    grid-template-columns: .5fr 1fr .5fr;
    grid-template-rows: .5fr 1.5fr;
    grid-template-areas:
    "comImg comInfo comDate"
    "comText comText comText";
    column-gap: 40px;
    row-gap: 0;
    padding: 20px 40px;
  }

  &__img {
    grid-area: comImg;
    width:50px;
    height: 50px;
  }

  &__info {
    grid-area: comInfo;
    display: flex;
    flex-direction: column;

    &-name {
      font-size: 20px;
      font-weight: 500;
    }

    &-status {
      font-size: 10px;
      font-weight: 300;
    }
  }

  &__date {
    grid-area: comDate;
    font-size: 14px;
    font-weight: 300;
  }

  &__content {
    grid-area: comText;
    border: 1px solid #cecece;
    padding: 10px;
    font-size: 12px;
    font-weight: 300;
    text-transform: capitalize;
    border-radius: 15px;
  }
}


@media only screen and (max-width: 1025px) {

}

@media only screen and (max-width: 801px) {
  .comments {
    &__container {
      width: 400px;
      padding: 0 20px;
    }
  }
}

@media only screen and (max-width: 600px) {
  .comments {
    &__container {
      width: 470px;
    }
  }
}

@media only screen and (max-width: 480px) {
  .comments {
    &__container {
      width: 350px;
      height: 160px;
      padding: 0;
      margin-top: 10px;
    }
    &__date {
      font-size: 10px;
    }
    &__img {
      width: 30px;
      height: 30px;
    }
    &__info{
      &-name{
        font-size: 12px;
      }
      &-status {
        font-size: 10px;
      }
    }
  }
}


@media only screen and (max-width: 320px) {
  .comments {
    &__container {
      width: 230px;
    }
  }
}
